*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/portada-code.jpg) no-repeat;
    background-size: cover;
    font-family: 'Century Gothic', sans-serif;
}

.box{
    width: 500px;
    background: rgb(0, 0, 0, .7);
    margin: 0 auto;
    margin-top: 1%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.box-img{
    border-radius: 50%;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}

.box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}

.box p{
    text-align: justify;
}

.box ul{
    list-style: none;
    margin-top: 20px;
}

.box ul li{
    display: inline-block;
}

.box ul li a{
    color: white;
    font-size: 45px;
    padding: 10px 5px;
    display: block;
    transition: all 0.5s ease-in-out;
}

.box ul li a:hover{
    color: #b9b9b9;
    transform: scale(1.1);
}

.btn {
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: .045em
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0
}

.btn svg rect {
    stroke:ff8282;stroke-width:4;
    stroke-dasharray:353,0;
    stroke-dashoffset:0;
    -webkit-transition:all 600ms ease;
    transition:all 600ms ease
}

.btn span {
    background: #ff8282;
    background: -moz-linear-gradient(left, rgba(255, 130, 130, 1) 0, rgba(225, 120, 237, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 130, 130, 1) 0, rgba(225, 120, 237, 1) 100%);
    background: linear-gradient(to right, rgba(255, 130, 130, 1) 0, rgba(225, 120, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437
}